{% from 'formFields.html' import showField %}
{% extends 'template.html' %}

{% block title %}Auth History{% endblock %}

{% block content %}
	<center>
		<h3 id="displayHeading">{{displayHeading}}</h3>
		{% if session.get('user_context')  %}
			<h4>Welcome, {{ session['user_context'] }}! </h4>
			<h5><a href="{{ url_for('history') }}">Query History</a>{% if session.get('admin') == "1" %} | <a href="{{ url_for('login_history') }}">Login History</a> {% endif %} | <a href="{{ url_for('logout') }}">Log Out</a></h5>
		{% endif %}
		{% if session.get('admin') == "1"  %}
    		<form id="userquery" action="{{ url_for('history') }}" method="POST">
        		{{ showField(form.user_name, 'User Name Search', autocomplete="off", autofocus=true,  id="user_name") }}
			<div> {{ form.csrf_token }}{{ form.submit_button }} </div>
			</form><br /><br />
		{% endif %}
		{% if queries %}
			<table style="border: 1px solid black; width: 600px;">
				{% for entry in queries %}
					<tr><td>
						<p><a id="query{{ entry.id}}" href="/history/query{{ entry.id}}">Query {{ entry.id }}</a></p>
					</td></tr>
				{% endfor %}</table>
		{% endif %}
	</center>
{% endblock %}
