{% from 'formFields.html' import showField %}
{% extends 'template.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <center>
        <h3 id="displayHeading">{{displayHeading}}</h3>
	<h4 id="result">{{displayMessage}}</h4>
	{% if not session.get('user_context') %}
        	<form action="{{ url_for('login') }}" method="POST">
        		{{ showField(form.username, 'Username', autocomplete="off", autofocus=true,  id="uname") }}
  	      		{{ showField(form.password, 'Password',  id="pword") }}
        		{{ showField(form.telephone, 'Telephone',  id="2fa") }}
        		{{ form.submit_button }}
			{{ form.csrf_token }}
        	</form>
		<p>No account? <a href="{{ url_for('register') }}">Register</a> for one!</p>
	{% else %}
		<a href="{{ url_for('spell_check') }}">Start</a> spell checking! 	
	{% endif %}
    </center>
{% endblock %}
